<main>
  <h1>
    Song Lyrics Search
  </h1>
	
  <nav>
    <a class = "upA">
      {{#link-to "song" class="button"}}Search{{/link-to}}
    </a>
    <a class = "upA">
      {{#link-to "about" class="button"}}List all songs{{/link-to}}
    </a>
    <a class = "upA">
      {{#link-to "new" class="button"}}Add a new song{{/link-to}}
    </a>
  </nav>

  {{outlet}}

  <footer>
    Roberts Ķēniņš 2019
  </footer>
</main>
